.Home {
  text-align: center;
}
.Home button,
.Home > a {
  margin-left: 20px;
  background-color: var(--light);
  padding: 5px 10px;
  margin: 0 10px;
  display: inline-flex;
  background: var(--light);
  border: 2px solid var(--accent);
  border-radius: 10px;
  transition: all 300ms ease, border 400ms ease;
  cursor: pointer;
  text-decoration: none;
}
.Home button span,
.Home > a span {
  color: var(--dark);
  text-decoration: none;
}

.Home button .material-symbols-rounded,
.Home > a .material-symbols-rounded {
  margin-right: 5px;
}
.Home button:hover,
.Home button:focus-visible,
.Home > a:hover,
.Home > a:focus-visible {
  text-decoration: none;
  color: var(--light);
  background-color: rgba(123, 75, 145, 0.29);
  border: 2px solid var(--accent);
  box-shadow: 0px 0px 20px var(--accent);
}

.Home > a:hover span,
.Home > a:focus-visible span {
  color: var(--light) !important;
}
